
<div class="container-fluid  " >
<div class="d-flex  flex-wrap justify-content-center "  >



    <div class="col-md-4 mt-3 col-lg-4 col-12 col-sm-12" *ngFor="let item of items; let i=index" >
      <div class="card  py-2 " style="width: 30vw; height: 75vh;"  *ngIf="i<quantity" >
        <div class="  d-flex justify-content-center m-2 ">
          <img class="card-img-top" style="width: 50vh; height: 50vh;" src="{{item.image}}" alt="Card image cap"  [routerLink]="['/products', item.id]">
      </div>
          <div class="card-body ">
              <div class="row  ">
                  <div class="col-8 "  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">  <p  class="fontl pt-2">
                      {{item.title}}
                  </p></div>
                <div class="col-4 d-flex  justify-content-end">    <p class=" fontl pt-2 " >{{item.price.toFixed(2)}}<small>DA</small></p></div>
              
              </div>
            
          
     <div class="row  d-flex justify-content-between  px-2  sub" >
        <div class="quantity m-0 " >
            <span class="pqt-minus font" >-</span>
            <input class="pqt font" value="1"  />
            <span class="pqt-plus font" >+</span>
        </div>
        <button class="addtocart m-lg-0 m-md-0 m-1 m-sm-1" (click)="addtocart(item)">
            <div class="pretext " style="font-size: 1vw;" >
              <i class="fas fa-cart-plus fa-xs"></i> ajoutez au panier
            </div>
            
         
          </button>
        
     </div>
     </div>
      </div>
    </div>

<!----------------------
    <div class="feature-card m-2"  *ngFor="let item of items" >
        
        <img src="{{item.img}}"  alt="">
        <div class="feature-card-tilte ">
            <div class="row d-flex justify-content-between">
                <h3>
                    {{item.name}}
                </h3>
                <b>  {{item.price}}<small>DZD</small></b>
            </div>
            
          
     <div class="row d-flex justify-content-between">
        <div class="quantity ml-2">
            <span class="pqt-minus">-</span>
            <input class="pqt" value="1" />
            <span class="pqt-plus">+</span>
        </div>
        <button class="addtocart" (click)="adding(item.id)">
            <div class="pretext " *ngIf="!item.add">
              <i class="fas fa-cart-plus fa-xs"></i> ajoutez au panier
            </div>
            
            <div class="pretext done" id="{{item.id}}" *ngIf="item.add">
              <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
            </div>
            
          </button>
        
     </div>
            
        </div>
      
    </div>
-------------->

</div>
<div class="row d-flex justify-content-center mt-5">
  <button class="btn  more px-3" (click)="more()" *ngIf="items?.length>quantity">voir plus de produit</button>
    
</div>

</div>
