
@import '../Styles/colors';

a:hover { text-decoration: none }

.font{
   font-size: 1.5vw;
}
.fontl{
    font-size: 2vw;
 }

.sub {
    position: absolute;
    bottom: 5%;
    width: 95%;
}


.card-img-top:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.btn{
    background-color: $black;
    color: $white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: none;
    &:hover{
        color: $black;
        background-color: $white;
    }
}
.addtocart{
   
    background-color: white;
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    .pretext{
        font-size: 0.5rem;
       
       i{
          color: $blue;
           font-size: larger;
       }
    }
    &:hover{
        border: 0;
        background-color: darken($color: $blue, $amount: 20%);
        color: $white;
        .pretext i{
            color: $white;
        }
       
    }
}




.quantity {
   
    display: flex;
    flex-direction: row;
    /*
        cart item + & -
        */
    .pqt {
  font-size: 20vw;
        font-weight: bold;
        border-radius: 10px;
       border: 0ch;
        font-size: 90%;
        line-height: 10px;
        width: 5vh;
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
    }
    .pqt-plus,
    .pqt-minus {
        font-weight: bold;
        font-size: 50%;
        font-size: 8vw;
        border-radius: 10px;
        background: $blue;
        color: $white;
        border: none;
        font-size: 90%;
        height: 100%;
        padding: 1vh 3vh;
       
    }
    .pqt-plus:hover,
    .pqt-minus:hover {
        background: $white;
        color: $blue;
        cursor: pointer;
    }
    .pqt-plus,
    .pqt-minus {
        font-weight: bold;
        line-height: 3vh
    }
}
