@import '../Styles/colors';
span{
    color: $blue;
}

h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
  }
  div{
      margin-top: 20%;

  }