<div class="admins">
    <div class="container">
        <h1 class="text-center mb-4">Admins</h1>
        <a class="btn btn-sm btn-primary mb-2 float-right" href="#" routerLink="addadmin"><i class="fa fa-user-plus"></i> Add</a>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="assets\imges\logo.png" alt="" style="height: 35px;width: 35px; border-radius: 50%;"></td>
                    <td>Ahmed Mohamed</td>
                    <td>ahmed66mohamed@gmail.com</td>
                    <td><a class="btn btn-sm btn-danger mx-1" href="#"><i class="fa fa-trash"></i></a> <a class="btn btn-sm btn-warning mx-1" href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>